<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="swapart.martin.swapartmockup" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/swapartlogo_big"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name="swapart.martin.swapart.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="swapart.martin.swapart.signupActivity" >
        </activity>
        <activity
            android:name="swapart.martin.swapart.TermsConditionsActivity"
            android:label="@string/title_activity_terms_conditions" >
        </activity>
        <activity
            android:name="swapart.martin.swapart.GalleryActivity"
            android:label="@string/title_activity_gallery" >
        </activity>
        <activity
            android:name="swapart.martin.swapart.MatchesActivity"
            android:label="@string/title_activity_search_art" >
        </activity>
        <activity
            android:name="swapart.martin.swapart.FindArtActivity"
            android:label="@string/title_activity_find_art" >
        </activity>
        <activity
            android:name="swapart.martin.swapart.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="swapart.martin.swapart.LogInActivity"
            android:label="@string/title_activity_log_in" >
        </activity>
        <activity
            android:name="swapart.martin.swapart.MatchesListActivity"
            android:label="@string/title_activity_matches_list" >
        </activity>
    </application>

</manifest>
